executor {
    name = 'slurm'
    queueSize = 4           // Maximum number of queued jobs
}
  
process {
    conda = '/home/DDGcarlos/.conda/envs/workplace'      // Directory where the conda environment is located
    queue = 'irbio01'       // Name of the partition used for processing, change accordingly
    cpus = 24                // Limits the number of cpus for each process
    maxForks = 4            // Limits the total number of parallel processes
    clusterOptions = '--job-name=chipseq --nodes=1 --ntasks=1 --cpus-per-task=12'
}
