executor {
    name = 'slurm'
}
  
process {
    conda = 'Chipseq-analysis/environment.yml'
    queue = 'irbio01'       // Name of the partition used for processing, change accordingly
    cpus = 8                // Limits the number of cpus for each process
    maxForks = 4            // Limits the total number of parallel processes
    clusterOptions = '--job-name=chipseq --nodes=1'
}
